<footer>
    <div class="footer-container">
        <ul class="list-foot">
            <li>
                <ul class="list-foot2">
                    <h3>Navegacion</h3>
                    <li><a href="/">Home</a></li>
                    <li><a href="/product">Productos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-foot2">
                    <h3>Medios De Pago</h3>
                    <li><i class="fab fa-cc-visa"></i></li>
                    <li><i class="fab fa-cc-mastercard"></i></li>
                    <li><i class="fab fa-cc-amex"></i></li>
                </ul>
            </li>
            <li>
                <ul class="list-foot2">
                    <h3>Contactanos</h3>
                    <li><span>(011)4855-0124</span></li>
                    <li><span>ventas.lemaison@gmail.com</span></li>
                    <li><span>Av. Alvarez Thomas 4523 - CABA</span></li>
                </ul>
            </li>
            <li>
            <ul class="list-foot2">
                <h3>Redes Sociales</h3>
                <div class="div-redes">
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-tiktok"></i></i></a></li>
                <li><a href="#"><i class="fab fa-facebook"></i></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                </div>  
            </ul>
        </li>
    </ul>
</div>
    <div class="div-derechos">
        <p>LeMaison SA Copyright | Todos los derechos reservados - Ver terminos y condiciones</p>
    </div>
</footer>