<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeMaison</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
    
        <div class="div-logo">
            <div class = "icon-bar">
                <i class="fas fa-bars"></i>
            </div>
           <a href="/"> <img src="/images/LeMaison.png" alt="logo"> </a>
            <ul>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="/user/login"><i class="far fa-user"></i></a></li>
                <li><a href="/product/cart"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
    
        <nav class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product/detail">Productos</a></li>
                <li><a href="/product/new">Nuevo Producto</a></li>
                <li><a href="/product/mod">Modificar Producto</a></li>
            </ul>
        </nav>
        </div>
    </header>   
    <main>
        <img src="images/1.jpg" alt="banner" class="img-banner">
        <section class="main-section1">
            <h2>Nueva Coleccion</h2>
            <div class="div-art">
            <article class="section1-art1">
                <img src="images/escritorio1.jpg" alt="" >
            </article>
            <article class="section1-art2">
                <img src="images/sillon.jpg" alt="" >
                <img src="images/mesa.jpg" alt="" >    
            </article>
            </div>
        </section>
        <section class="main-section2">
            <h2>Nuestros productos mas comprados</h2>
            <div class="div-art2">
            <article class="section2-art">
                <img src="images/img1-section2.jpg" alt="">
                <div class="art-text">
                    <h3>$8900</h3>
                    <span>Escritorio</span>
                </div>
            </article>
            <article class="section2-art">
                <img src="images/espejo.jpeg" alt="">
                <div class="art-text">
                <h3>$4800</h3>
                <span>Espejo</span>
                </div>
            </article>
            <article class="section2-art">
                <img src="images/estante.jpg" alt="">
                <div class="art-text">
                <h3>$15000</h3>
                <span>Biblioteca</span>
                </div>
            </article>
            <article class="section2-art">
                <img src="images/sillon1.jpg" alt="">
                <div class="art-text">
                <h3>$32000</h3>
                <span>Sillon</span>
                </div>
            </article>
            <article class="section2-art">
                <img src="images/colcha.jpg" alt="">
                <div class="art-text">
                <h3>$3900</h3>
                <span>Alcolchado</span>
                </div>
            </article>  
            <article class="section2-art">
                <img src="images/mesaluz.jpg" alt="">
                <div class="art-text">
                <h3>$24300</h3>
                <span>Mesa Ratona</span>
                </div>
            </article>  
        </div>                                                        
        </section>
        <form action="" method="get" class="form-newsletter">
            <div class="div-form">
                <label>NEWSLETTER</label>
                <input type="text" placeholder="Ingresa tu E-Mail">
                <button type="submit">ENVIAR</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-container">
            <ul class="list-foot">
                <li>
                    <ul class="list-foot2">
                        <h3>Navegacion</h3>
                        <li><a href="/">Home</a></li>
                        <li><a href="/product/detail">Productos</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="list-foot2">
                        <h3>Medios De Pago</h3>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-amex"></i></li>
                    </ul>
                </li>
                <li>
                    <ul class="list-foot2">
                        <h3>Contactanos</h3>
                        <li><span>(011)4855-0124</span></li>
                        <li><span>ventas.lemaison@gmail.com</span></li>
                        <li><span>Av. Alvarez Thomas 4523 - CABA</span></li>
                    </ul>
                </li>
                <li>
                <ul class="list-foot2">
                    <h3>Redes Sociales</h3>
                    <div class="div-redes">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-tiktok"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </div>  
                </ul>
            </li>
        </ul>
    </div>
        <div class="div-derechos">
            <p>LeMaison SA Copyright | Todos los derechos reservados - Ver terminos y condiciones</p>
        </div>
    </footer>
</body>
</html>




