<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="div-logo">
                <div class = "icon-bar">
                    <i class="fas fa-bars"></i>
                </div>
                <img src="images/LeMaison.png" alt="logo">
                <ul>
                    <li><a href="#"><i class="fas fa-search"></i></a></li>
                    <li><a href="/login"><i class="far fa-user"></i></a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <nav class="header-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </nav>
        </div>
    </header>   
    <main>
        <section class="section-login">
            <form action="" method="get" class="container-login">
                    <h4>Si ya se encuentra registrado, <a href="/register" class="inicie-class">inicie sesion.</a></h4>
                    <div class="div-input">
                    <input type="text" name="usuario" id="nombre-usuario" placeholder="Ingrese correo electronico o usuario">
                    <input type="password" value="contra" placeholder="password">
                    <i class="fas fa-eye-slash"></i>
                    </div>
                    <div class="div-checkbox">
                    <input type="checkbox">
                    <label>Recordarme</label>
                    </div>
                    <button type="submit" class="button-class">Enviar</button>
                    <a href="#">¿Olvido su contraseña?</a>
                    <p>Si aun no posee una cuenta, puede crearla a continuacion</p>
                    <button type="submit" class="button-class">Registrarse</button>  
            </form>
        </section>

    </main>

    <footer>
        <div class="footer-container">
            <ul class="list-foot">
                <li>
                    <ul class="list-foot2">
                        <h3>Navegacion</h3>
                        <li><a href="/">Home</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Preguntas Frecuentes</a></li>
                    </ul>
                </li>
                <li>
                    <ul class="list-foot2">
                        <h3>Medios De Pago</h3>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-amex"></i></li>
                    </ul>
                </li>
                <li>
                    <ul class="list-foot2">
                        <h3>Contactanos</h3>
                        <li><span>(011)4855-0124</span></li>
                        <li><span>ventas.lemaison@gmail.com</span></li>
                        <li><span>Av. Alvarez Thomas 4523 - CABA</span></li>
                    </ul>
                </li>
                <li>
                <ul class="list-foot2">
                    <h3>Redes Sociales</h3>
                    <div class="div-redes">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-tiktok"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </div>  
                </ul>
            </li>
        </ul>
    </div>
        <div class="div-derechos">
            <p>LeMaison SA Copyright | Todos los derechos reservados - Ver terminos y condiciones</p>
        </div>
    </footer>


</body>
</html>