<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Carrito de Compras</title>
</head>
<body>
    <header>
        <div class="header-container">

        <div class="div-logo-carrito">
            <div class = "icon-bar-carrito">
                <i class="fas fa-bars"></i>
            </div>
            <img src="images/LeMaison.png" alt="logo">
            <div class="div-ul-carrito">
                <ul>
                    <div class="iconos">
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="far fa-user"></i></a></li>
                    </div>
                    <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </div>

            <div class="barra-busqueda">
                <form action="buscar" method="get">
                    <input type="text" name="buscar" placeholder="Buscar Producto">
                </form>
            </div><div class="barra-busqueda">
        </div>
        </div>
        <nav class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Preguntas Frecuentes</a></li>
            </ul>
        </nav>
    </header>
        <div class="carrito-guardados">
            <li><a href="#">Carrito</a></li>
            <li><a href="#">Guardados</a></li>
        </div>
        <div class="carrito-vacio">
            <h4>Tu Carrito está vacío</h2>
            <h5>¿No sabés qué comprar? ¡Los más lindos muebles te esperan!</h3>
        </div>
        <div class="llenar">
            <li><a href="/">Comienza a llenarlo ahora</a></li>
        </div>
    </main>
</body>
</html>