<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeMaison</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@500&family=Roboto:ital,wght@0,400;1,100&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-container">

        <div class="div-logo">
            <div class = "icon-bar">
                <i class="fas fa-bars"></i>
            </div>
            <img src="images/LeMaison.png" alt="logo">
            <ul>
                <li><a href="#"><i class="fas fa-search"></i></a></li>
                <li><a href="#"><i class="far fa-user"></i></a></li>
                <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>

        </div>
    
<div class= "Detalle-Producto">
<h3> Detalle del Producto </h3>
</div>
</header>   

<main>
<section class="main-Product-Detail">

<div class="div-DetailArt1">
<article class="art-productDetail1">
<img src="images/img1-section2.jpg" alt="">
<div class="descriptionText">
<h3>Escritorio</h3>
<span> Precio $8900</span>
<p> Moderno y práctico escritorio, con estilo vintage, inspirador de comodidad y confort,
sus medidas son: 
Altura: 70cm
Ancho: 50cm
Profundidad: 40cm.
Fabricado con madera de cedro.</p>
<i class="fas fa-shopping-cart"></i>
</div>
</article>
</section>
</main>
    
    
    <footer>
        <div class="footer-container">
        <ul class="list-foot">
            <li>
                <ul class="list-foot2">
                    <h3>Navegacion</h3>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-foot2">
                    <h3>Medios De Pago</h3>
                    <li><i class="fab fa-cc-visa"></i></li>
                    <li><i class="fab fa-cc-mastercard"></i></li>
                    <li><i class="fab fa-cc-amex"></i></li>
                </ul>
            </li>
            <li>
                <ul class="list-foot2">
                    <h3>Contactanos</h3>
                    <li><span>(011)4855-0124</span></li>
                    <li><span>ventas.lemaison@gmail.com</span></li>
                    <li><span>Av. Alvarez Thomas 4523 - CABA</span></li>
                </ul>
            </li>
            <li>
                <ul class="list-foot2">
                    <h3>Redes Sociales</h3>
                    <div class="div-redes">
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-tiktok"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook"></i></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    </div>  
                </ul>
            </li>
        </ul>
    </div>
        <div class="div-derechos">
            <p>LeMaison SA Copyright | Todos los derechos reservados - Ver terminos y condiciones</p>
        </div>
    </footer>
</body>
</html>