* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header-container {
    width: 100%;
    margin:  auto;
    padding: 0px 10px 10px 10px;
    text-align: center;
}

.icon-bar {
    display: block;
    background-color: #424242;
    color: #ffffff;
    max-width: 80px;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    text-align: center;

}

.icon-bar:hover {
    background-color: #ffffff;
    color: #424242;
}


.div-logo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    text-align: center;
}

.div-logo img {
    width: 60%;
    text-align: left;
}

.div-logo ul {
    width: 30%;
    display: flex;
    list-style: none;
    margin: auto;
    padding-left: 0px;
}

.div-logo ul li,
.div-logo-carrito ul li {
    font-size: 16px;
    padding: 5px;
    margin: auto;
    color: #424242;
    transition: all .2s ease-in-out; 
}

.div-logo ul li:hover,
.div-logo-carrito li:hover {
    transform: scale(1.5); 
}

.div-logo a,
.div-logo-carrito a {
    color: #424242;
}

.header-nav {
    width: 100%;
    display: none;

}

.header-nav ul {
    list-style: none;
}

.header-nav ul a {
    color: #424242;
    text-decoration: none;
}


/*main*/

.img-banner {
    width: 100%;
}

/*section 1*/

.main-section1 h2 { 
    text-align: left;
    color: #000000;
    padding-left: 30px;
    border-left: solid 5px #ffc947;
}


.main-section1 {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.section1-art1 { 
    width: 100%;

}

.section1-art1 img { 
    width: 100%;
    border-radius: 10px;
}

.section1-art2 { 
    width: 100%;

}

.section1-art2 img { 
    width: 100%;
    border-radius: 10px;
}

.section1-art1 img:hover { 
    box-shadow:  5px 5px 10px #5a5a5a,
    -5px -5px 10px #b4b4b4;
}

.section1-art2 img:hover { 
    box-shadow:  5px 5px 10px #5a5a5a,
    -5px -5px 10px #b4b4b4;
}


/*section-2*/

.main-section2 {
    width: 90%;
    margin: auto;
    padding: 10px;
}

.main-section2 h2 { 
    text-align: left;
    color: #000000;
    padding-left: 30px;
    border-left: solid 5px #ffc947;
}



.section2-art {
    margin-bottom: 10px;
    padding-bottom: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-box-shadow: 0px -11px 13px 1px rgba(173,171,173,0.46);
    -moz-box-shadow: 0px -11px 13px 1px rgba(173,171,173,0.46);
    box-shadow: 0px -11px 13px 1px rgba(173,171,173,0.46);
    transition: all .2s ease-in-out; 
}


.section2-art img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.section2-art a {
    text-decoration: none;
}

.section2-art:hover { 
    transform: scale(1.1); 
    }

.art-text {
    padding: 5px;
    border-left: solid 2px #ffc947;
}

.art-text span {
    color: #616161;
}

.art-text h3 {
    text-align: left;
    margin-top: 3px;
    color: #424242;
}




/*form*/

.form-newsletter {
    width: 100%;
    height: 200px;
    background-color: #ffab40 ;
}

.div-form {
    padding-top: 45px;
    text-align: center;
    padding: 30px;
    background-color: #ffab40 ;
}

.form-newsletter label {
    display: block;
    font-size: 25px;
    width: 90%;
    height: 50px;
    margin: auto;
    padding: 5px;
    color: #ffffff;
}

.form-newsletter input {
    display: block;
    width: 90%;
    height: 50px;
    border-width: 0px;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

.form-newsletter button {
    width: 90%;
    height: 50px;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.form-newsletter button:hover {
    background-color: #ffffff;
    color: #ffab40;
}

/*footer*/

.footer-container {
    width: 90%;
    margin: auto;
    padding: 10px;
    margin: auto;

}

.list-foot {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.list-foot2 {
    list-style: none;
    padding: 0px;
    text-align: center;
    width: 100%;
}


.list-foot2 h3 {
    color: #424242;
    
}

.list-foot2 a{
    text-decoration: none;
    color: #616161;
}

.list-foot2 span {
    color: #616161;
}

.list-foot2 i {
    color: #616161;
    transition: all .2s ease-in-out; 
}

.list-foot2 a:hover {
    color: #000000;
}

.list-foot2 i:hover {
    color: #000000;
    transform: scale(1.5); 
}

.list-foot2 span:hover {
    color: #000000;
}

.div-redes {
    display: flex;
}

.div-redes li {
    padding: 10px;
}

.div-redes li a {
    color: #616161;
    text-align: center;
}

.div-derechos {
    text-align: center;
    border-top:solid 2px #424242;
    background-color: #ffab40;
    margin: auto;
    padding: 10px;
    margin: auto;
}

.div-derechos p {
    color: #424242
}




/*Login Styles*/

.section-login {
    width: 90%;
    margin: auto;
}

.container-login {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: #ffab40;
    border-radius: 10px;
    box-shadow: none;
}

.container-login:hover {
    box-shadow: 0px -11px 13px 1px rgba(143, 143, 143, 0.46);
}

.container-login h4 {
    width: 70%;
    text-align: left;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
}

.inicie-class {
    font-size: 20px;
}



.container-login p {
    text-align: center;
    color: #616161;
    font-size: 15px;
}

.container-login a {
    text-align: center;
    color: #000000;
}

.div-input {
    width: 100%;
}

.div-input i {
    color: #616161;
    font-size: 15px;
    width: 70%;
    text-align: end;
    margin: auto;
    display: block;
    position: relative;
    bottom: 30px;
    right: 10px;
}

.div-input input {
    width: 70%;
    height: 40px;
    margin: auto;
    border: solid 2px blue;
    display: block;
    padding: 5px;
    margin-top: 10px;
    border-width: 0px;
}

.div-checkbox {
    width: 70%;
    text-align: left;
    padding: 10px 10px 10px 0;
}

.button-class {
    width: 35%;
    height: 35px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}


.button-class:hover {
    background-color: #ffffff;
    color: #ffab40;
}

/*Register Styles*/

.section-register {
    width: 100%;
    margin: auto;
}

.container-register {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: #ffab40;
    border-radius: 10px;    
    box-shadow: none;
}

.container-register:hover {
    box-shadow: 0px -11px 13px 1px rgba(143, 143, 143, 0.46);
}

.container-register h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 0;
    font-size: 25px;
}



.div-input-register {
    width: 100%;
}

.div-input-register i {
    color: #616161;
    font-size: 15px;
    width: 70%;
    text-align: end;
    margin: auto;
    display: block;
    position: relative;
    bottom: 29px;
    left: 10px;
}

.div-input-register input {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-width: 0px;
}

.div-checkbox-register {
    display: flex;
    padding:  10px 10px 10px 0;
    width: 80%;
    margin-top: 10px;
}

.div-checkbox-register label {
    font-size: 14px;
    color: #616161;
}

.div-checkbox-register input {
    margin-right: 5px;
}

.button-class-register {
    width: 40%;
    height: 45px;
    padding: 5px;
    margin: 20px 0 10px 0;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}


.button-class-register:hover {
    background-color: #ffffff;
    color: #ffab40;
} 

/***** NEW PRODUCT ******/

.section-create {
    width: 100%;
    margin: auto;
}

.container-create {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: #ffab40;
    border-radius: 10px;    
    box-shadow: none;
}

.container-create:hover {
    box-shadow: 0px -11px 13px 1px rgba(143, 143, 143, 0.46);
}

.container-create h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 0;
    font-size: 25px;
}

.div-input-file { 
    margin-bottom: 10px;
    width: 80%;
    text-align: left;
}

.div-input-file input { 
    display: none;
}


.div-input-file label { 
    display: flex;
    align-items: center;
    width: 30%;
    height: 40px;
    padding: 5px;
    background-color: #ffffff;
    border-width: 0px;
    color: #5a4d4d;
    margin-top: 20px;
    cursor: pointer;
}

.div-input-file label:hover {
    background-color: #000000;
    color: #ffffff;
} 

.div-input-create {
    width: 100%;
}

.div-input-create input {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-width: 0px;
}

.button-class-create {
    width: 40%;
    height: 45px;
    padding: 5px;
    margin: 20px 0 20px 0;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}

.button-class-create:hover {
    background-color: #ffffff;
    color: #ffab40;
} 

.div-input-create select {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-width: 0px;
}

/****modProduct******/

.section-mod {
    width: 100%;
    margin: auto;
}

.container-mod {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5px;
    background-color: #ffab40;
    border-radius: 10px;    
    box-shadow: none;
}

.container-mod:hover {
    box-shadow: 0px -11px 13px 1px rgba(143, 143, 143, 0.46);
}

.container-mod h4 {
    width: 80%;
    text-align: left;
    margin-bottom: 0;
    font-size: 25px;
}

.div-input-mod {
    width: 100%;
}

.div-input-mod input {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-width: 0px;
}

.button-class-mod {
    width: 40%;
    height: 45px;
    padding: 5px;
    margin: 20px 0 20px 0;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}

.button-class-mod:hover {
    background-color: #ffffff;
    color: #ffab40;
} 

.div-input-mod select {
    width: 80%;
    height: 40px;
    margin: auto;
    display: block;
    padding: 5px;
    margin-top: 20px;
    border-width: 0px;
}


/****** Cart ******/

.main-cart-container {
    text-align: center;
    margin: auto;
    background-color: #ffffff;
    border-radius: 10px;
    width: 80%;
}

.carrito-guardados{
    border-bottom: solid 1px #616161;
}

.carrito-guardados a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}

.carrito-guardados ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}

.cart-art {
    border-radius: 10px;
    text-align: left;
}



.cart-art-img img {
    width: 100%;
}

.cart-art span { 
    display: block;
    margin-bottom: 15px;
}

.cart-art select {
    width: 20%;
}

.cart-art h4 {
    margin: 10px 10px 10px 0;
    border-bottom: solid 2px #ffab40 ;
    width: 28%;
}

.div-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #616161;
}

.button-cart button {
    width: 40%;
    height: 40px;
    padding: 5px;
    margin: 20px 0 10px 0;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}

.button-cart button:hover {
    background-color: #ffab40;
    color: #ffffff;
} 


/* productDetail */

.main-container-detail {
    text-align: center;
    margin: auto;
    background-color: #ffab40;
    border-radius: 10px;
    width: 80%;
}

.main-container-detail:hover {
    box-shadow: 0px -11px 13px 1px rgba(143, 143, 143, 0.46);
}

.div-content-detail {
    padding: 10px;
    background-color: #ffab40;
    border-radius: 10px;
    text-align: left;
    }


.div-container-detail {
    padding: 10px;
    background-color: #ffab40;
    border-radius: 10px;
}


.div-container-detail img {
    width: 100%;
}

.div-content-detail h2 {
    margin: 0px;
}

.div-content-detail h3 {
    border-bottom: solid 2px #000000;
    width: 20%;
    padding-bottom: 5px;
}


.div-content-detail label, select {
    display: block;
    margin: 5px 0 5px 0;
    color: #616161;
}

.div-content-detail select {
    width: 22%;
    border-width: 0px;
    padding: 3px;
}

.button-detail {
    text-align: left;
}

.div-content-detail button {
    width: 40%;
    height: 40px;
    padding: 5px;
    margin: 20px 0 10px 0;
    background-color: #000000;
    border-width: 0px;
    color: #ffffff;
}

.div-content-detail button:hover {
    background-color: #ffffff;
    color: #ffab40;
} 

@media (min-width:768px) {
    /*header*/

    .header-container {
        max-width: 75%;
    }

    .div-logo {
        max-width: 70%;
        justify-content: center;
    }

    .div-logo img {
        max-width: 300px;
        position: relative;
        right: 150px;
        top: 15px;
    }  

    
    .div-logo ul {
        width: 25%;
        position: relative;
        left: 200px;
        top: 15px;
    }

    .div-logo ul li {
        font-size: 18px;
    }

    .icon-bar {
        display: none;
    }

    .header-nav {
        display: block;
        text-align: center;

    }

    .header-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
    }

    .header-nav li {
        padding: 10px;
        font-size: 18px;
    }   

    .header-nav li:hover {
        border-bottom: solid 2px #000000;
    }   
    
        /*main section 1*/

        .main-section1 {
            width: 60%;
        }
        .div-art {
            display: flex;
            align-items: center;
        }
    
        .section1-art1 { 
            width: 66.67%;
    
        }
    
    
        .section1-art1 img { 
            position: relative;
            right: 5px;
        }
    
        .section1-art2 { 
            width: 33.33%;
        }
        
    
    
        /*main section 2*/
    
        .main-section2 {
            width: 75%;
        }
    
    
        .div-art2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .section2-art {
            width: 35%;
            margin: 10px;
        }
    
        .form-newsletter input {
            max-width: 60%;
        }
        
        .form-newsletter button {
            max-width: 60%;
        }
    
    
        /*footer*/
    
        .footer-container {
            width: 75%;
        }
    
        .list-foot {
            display: flex;
            flex-direction: row;
            padding: 5px;
        }
    
        /*login*/
    
        .container-login {
            max-width: 650px;
        }
        

        /*register*/
    
        .container-register {
            max-width: 650px;
        }

        /**** Cart ***/

        .art-cart {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin: auto;
        }

        .cart-art-img {
            width: 40%;
        }

        .cart-art {
            width: 40%;
        }

        /*****newProduct******/

        .container-create {
            max-width: 680px;
        }

        /*****modProduct****/
        .container-mod {
            max-width: 680px;
        }

        /******detail*****/

        .main-container-detail {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            width: 75%;
            background-color: #ffab40;
        }

        .div-container-detail {
            width: 60%;
        }

        .div-content-detail {
            display: flex;
            flex-direction: column;
            width: 40%;
        }

        .button-detail {
            text-align: left;
        }

        /******cart********/

        .art-cart {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            max-width: 800px;
            margin: auto;
        }

        .cart-art-img {
            width: 40%;
        }

        .cart-art {
            width: 40%;
        }
    
    }

@media (min-width:1200px) {      
        /*header*/
        
        .header-container {
            max-width: 70%;
        }
    
        .div-logo img {
            max-width: 500px;
        }

        .div-logo ul {
            width: 20%;
        }

        /*main section 1*/

        .main-section1 {
            width: 55%;
        }

        .main-section1 h2 {
            font-size: 30px;
        }

        .main-section1 p {
            font-size: 18px;
        }

        /*main section 2*/

        .main-section2 {
            width: 70%;
        }

        .main-section2 h3 {
            font-size: 20px;
        }

        .div-art2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    
        .section2-art {
            width: 25%;
            margin: 20px;
        }


        .form-newsletter input {
            max-width: 50%;
        }
        
        .form-newsletter button {
            max-width: 50%;
        }

        /*footer*/
        
        .footer-container {
            width: 70%;

        }

        .list-foot2 h3 {
            font-size: 20px;
        }

        .list-foot2 a {
            font-size: 18px;
        }
        
        .list-foot2 span {
            font-size: 18px;
        }

            /*register*/

        .container-register {
            max-width: 750px;
        }
        /*****newProduct*****/

        .container-create {
            max-width: 750px;
        }

        /*****modProduct****/
        .container-mod {
            max-width: 750px;
        }

        /******detail******/

        .main-container-detail {
            max-width: 1000px;
        }

}
