<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Login'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="section-login">
            <form action="" method="get" class="container-login">
                    <h4>Si ya se encuentra registrado, inicie sesion.</h4>
                    <div class="div-input">
                        <input type="text" name="email" id="nombre-usuario" placeholder="Ingrese correo electronico o usuario">
                        <input type="password" value="contra" name="password" placeholder="password">
                        <i class="fas fa-eye-slash"></i>
                    </div>
                    <div class="div-checkbox">
                        <input type="checkbox" name="remindMe">
                        <label>Recordarme</label>   
                    </div>
                    <button type="submit" class="button-class">Enviar</button>
                    <a href="#">¿Olvido su contraseña?</a>
                    <p>Si aun no posee una cuenta, puedes crearla <a href="/user/register" class="inicie-class"> aqui </a> </p>
            </form>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>