<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Register'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <section class="section-register">
            <form action="/user/register" method="POST" enctype="multipart/form-data" class="container-register">
                    <h4>Registrate</h4>
                    <div class="div-input-register">
                        <input type="text" name="name" id="nombre-usuario" placeholder="Nombre">
                        <input type="text" name="lastName" id="nombre-usuario" placeholder="Apellido">
                        <input type="email" name="email" placeholder="E-mail" >
                        <p> <%= locals.emailError? locals.emailError : null %> </p>
                        <input type="password" value="contra" name="password" placeholder="Password">
                        <i class="fas fa-eye-slash"></i>
                    </div>
                    <div class="div-input-file">
                        <label for="input-file"> Ingrese una Imagen </label>
                        <input  id="input-file" type="file" name="image" class="file-input" >
                    </div>
                        <div class="div-checkbox-register">
                        <input  type="checkbox">
                        <label>Al marcar esta casilla indico que he leido y estoy de acuerdo con los terminos y condiciones y la politica de privacidad de LeMaison</label>
                    </div>
                    <div class="div-checkbox-register">
                        <input type="checkbox">
                        <label>Deseo recibir informacion comercial de LeMaison</label>
                    </div>
                    <button type="submit" class="button-class-register">Crear Usuario</button>
            </form>
        </section>

    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>