<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>
    <body>
        <main>
            <section class="section-mod">
                <form action="" method="get" class="container-mod">
                        <h4>Formulario de Modificacion de Productos</h4>
                        <div class="div-input-mod">
                            <input type="text" name="Nombre del Producto" id="nombre-usuario" placeholder="Nombre del Producto">
                            <input type="text" name="Descripcion" id="nombre-usuario" placeholder="Descripcion">
                            <input type="Imagen" placeholder="Inserte una Imagen">
                                <select placeholder="Categorias">
                                    <option value="">Categorias</option>
                                    <option value="">Mesas</option>
                                    <option value="">Escritorios</option>
                                    <option value="">Sillas</option>
                                    <option value="">Camas</option>
                                    <option value="">Otros</option>
                                </select>
                            <input type="text" name="Precio" id="nombre-usuario" placeholder="Precio">
                        </div>
                            <button type="submit" class="button-class-mod">Modificar Producto</button>
                </form>
            </section>
    
        </main>
        <%- include('../partials/footer.ejs') %>
</body>
</html>