<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', {pageTitle: 'Create'}) %>
<body>
    <%- include('../partials/header.ejs') %>
    <body>

        <main>
            <section class="section-create">
                <form action="/product" method="POST" class="container-create">
                        <h4>Formulario de Creacion de Productos</h4>
                        <div class="div-input-create">
                            <input type="text" name="name"  placeholder="Nombre del Producto">
                            <input type="text" name="description"  placeholder="Descripcion">
                                <select name='category' placeholder="Categorias">
                                    <option value="">Categorias</option>
                                    <option value="">Mesas</option>
                                    <option value="">Escritorios</option>
                                    <option value="">Sillas</option>
                                    <option value="">Camas</option>
                                    <option value="">Otros</option>
                                </select>
                            <input type="number" name="price" id="nombre-usuario" placeholder="Precio">
                        </div>
                            <button type="submit" class="button-class-create">Crear Producto</button>
                </form>
            </section>
<<<<<<< HEAD

        </main>  

=======
    
        </main>     
>>>>>>> ba9f561d68817104aa5784e11b64b614213a7c15
        <%- include('../partials/footer.ejs') %>
</body>
</html>