<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

<main>
<section class="main-Product-Detail">

<div class="div-DetailArt1">
<article class="art-productDetail1">
<img src="/images/img1-section2.jpg" alt="">
<div class="descriptionText">
<h3>Escritorio</h3>
<span> Precio $8900</span>
<p> Moderno y práctico escritorio, con estilo vintage, inspirador de comodidad y confort,
sus medidas son: 
Altura: 70cm
Ancho: 50cm
Profundidad: 40cm.
Fabricado con madera de cedro.</p>
<i class="fas fa-shopping-cart"></i>
</div>
</article>
</section>
</main>
<%- include('../partials/footer.ejs') %>
</body>
</html>