<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="main-container-detail">    
                <div class="div-container-detail">
                    <img src="/images/colcha.jpg" alt="">
                </div>        
                    <div class="div-content-detail">
                        <h2> Sillon </h2>
                        <h3> $4500 </h3>
                        <p> sillon tal tal tal tal</p>
                    <label>Cantidad</label>
                    <select name="" id="">
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                    </select>
                    <div class="button-detail">
                        <a href= #>
                            <button>Agregar</button>
                        </a>
                        <a href=#> 
                            <button type="submit" class="button-class-mod">Modificar</button>
                        </a> 
                        <form method="post" action=#>
                            <button type="submit" class="button-class-mod">Borrar Producto</button>
                        </form> 
                    </div>
                    </div>           
        </section>
    </main>
<%- include('../partials/footer.ejs') %>
</body>
</html>